.navbar {
  font: 400 2rem/3rem var(--primary-font);
  padding: 0.5rem 5% !important;
  letter-spacing: 1px;
  /* border-bottom: solid; */
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(rgba(255, 255, 255, 0.596)),
    to(rgba(80, 80, 80, 0)),
    color-stop(0.3, #fdabab13)
  );
}

.nav-link {
  margin: 0 1rem;
  color: var(--primary-font) !important;
}

.nav-brand {
  font: 600 3rem/3rem var(--primary-font) !important;
  position: sticky;
  left: 50%;
}

.nav-link:hover,
.nav-brand:hover {
  color: var(--accent-font-color) !important;
}

@media only screen and (max-width: 1400px) {
  .nav-brand {
    position: relative;
    left: 0;
  }
}
