.navbar {
  position: absolute !important;
  width: 100vw;
  font: 400 2rem/3rem var(--primary-font);
  padding: 0.5rem 2% !important;
  letter-spacing: 1px;
  /* border-bottom: solid; */
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(rgba(255, 255, 255, 0.596)),
    to(rgba(80, 80, 80, 0)),
    color-stop(0.3, #fdabab13)
  );
}

.nav-link {
  margin: 0 0.5rem;
  color: var(--primary-font) !important;
}

.nav-brand {
  font: 600 3rem/3rem var(--primary-font) !important;
  position: sticky;
  left: 47%;
}

.nav-link:hover,
.nav-brand:hover {
  color: var(--accent-font-color) !important;
  text-shadow: 0 0px 50px rgba(0, 0, 0, 0.493);
  /* text-shadow: 0px 50px 50px 8px rgba(8, 8, 8, 0.521); */
}

@media only screen and (max-width: 1400px) {
  .nav-brand {
    position: relative;
    left: 0;
  }
}
