:root {
    --mainColor: #;
    --light-color: #ffffff;
    --dark-color: #000000;
    --accent-light-color: #fde8e9;
    --accent-primary-color: #011638;
    --accent-secondary-color: #fed766;
}
html {
    font-family: "Oswald", sans-serif !important;
    scroll-behavior: smooth !important;
}

body {
    font-family: "Oswald", sans-serif;
}

.App {
    min-height: 100vh;
    background-color: #f8f9fa;
}

.navbar {
    font: 600 2rem/2.5rem "Oswald", sans-serif;
    padding: 0.5rem 10% !important;
    /* letter-spacing: -1px; */
    border-bottom: solid;
    background-color: var(--light-color);
}
.cath {
    margin-bottom: -3%;
    height: 15vh;
    margin-left: 72%;
}

.nav-logo {
}

.landing {
    display: inline-block;
}

.landing > .row {
    margin: 1rem 0;
    height: 100vh;
}

.nav-link {
    margin: 0 1rem;
}
.row {
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front_header {
    font: 600 6rem/9rem "Oswald", sans-serif;
}

.front_text {
    margin: 5% 0;
    font-size: 1.3rem;
    font-family: "Arvo", serif;
}
/* SIGNUP PAGE */
.shop_signup {
    margin-top: 40%;
}
.nachbar_form {
    margin-top: 20%;
}
.shop_name {
    margin-bottom: 1.5rem;
}

.fold {
    display: none;
    height: 0;
    width: 100%;
}

.fold.active {
    display: inline-block;
}

/* VERTICAL Yellow LINE */
.logo_pos {
    background-image: linear-gradient(#f9ce21, #f9ce21);
    background-size: 10px 70%;
    background-repeat: no-repeat;
    /* background-position: center center; */
    z-index: 5;
}

.yellow {
    color: #f9ce21;
}

.magic_hover {
    background-size: 100% 200%;
    text-decoration: none;
    list-style-type: none;
    background-image: linear-gradient(to bottom, #fff 50%, #f9ce21 50%);
    transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
    color: black;
    background-color: #f8f9fa;
}
.magic_hover:hover,
.magic_hover:focus {
    background-position: 0 100%;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.sm_title {
    border: 0.1em solid black;
    margin-bottom: 70%;
    padding: 0.5em;
    background-color: var(--dark-color);
    color: white;
}

/* SECTION2 */

.section1 {
    display: flex;
}

.section2 {
    background-color: white;
}

.pic {
    height: 350px;
    width: 350px;
    border: solid;
}

.pic_text {
    font-size: 1.5rem;
    font-family: "Arvo", serif;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 5%;
}
.pic_title {
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

.circle_pos {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_pos {
    margin: 10%;
}
@media only screen and (max-width: 1400px) {
    .nav-logo {
        display: none !important;
    }
}
