:root {
  --light-color: #f5f1dd;
  --dark-color: #050607;
  --accent-light-color: #283655;
  --accent-primary-color: hsl(196, 25%, 18%);
  --accent-secondary-color: #595452;
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --primary-font-color: #221817;
  --accent-font-color: #cf3a38;
  --opacity-color: #f8e8e8cc;
}

html {
  /* font-family: "Montserrat", sans-serif; */
  scroll-behavior: smooth !important;
}

body {
  font-family: var(--primary-font);
}

.App {
  background-color: var(--dark-color);
  min-height: 100vh;
}

.content {
  /* padding: 5rem 0; */
  min-height: 80vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landing > .row {
  min-height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.landing .statement {
  padding: 2rem 0rem;
}

.landing .statement h2 {
  font: 700 7rem/8.5rem var(--primary-font);
  color: var(--accent-primary-color);
  padding: 2rem 0;
  margin-top: -5%;
}

.landing .statement div {
  font: 600 1.5rem/2rem var(--secondary-font);

  background-color: var(--opacity-color);

  height: 65vh;
}

.row {
  margin: 0 !important;
}

.frontBackground {
  background-image: url("/assets/images/leon-shefi-bright2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  z-index: 5;
}

/*NEWSLETTER*/
.landing .newsletter {
  box-shadow: 0px 8px 20px 8px rgba(8, 8, 8, 0.267);
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  /* width: 100%; */
  padding: 1rem;
}

.landing .newsletter h3 {
  font: 700 2.5rem/3rem var(--secondary-font);
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: var(--accent-primary-color);
}
.landing p {
  font: 400 1.8rem/2.5rem var(--secondary-font);
  color: var(--accent-light-color);
  padding: 1.5rem 0;
}
.landing b {
  border-bottom: solid;
}
.landing .newsletter input {
  /* 	background: rgba(255, 13, 254, 0.90); */
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.623);
  padding: 1em;
  outline: none;
  border: none;
  color: #222;
  transition: 0.3s linear;
}
::placeholder {
  color: #999;
}
.landing .newsletter input:focus {
  background: white;
}

.landing .newsletter button {
  background-image: linear-gradient(to left, var(--dark-color) 0%, var(--accent-primary-color) 100%);
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.39);
  font-family: "Lato", sans-serif;
  margin-left: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  border: none;
  transition: 0.3s linear;
}
.landing .newsletter button:hover {
  transform: translatey(2px);
}
.landing .newsletter button:active {
  transform: translatey(5px);
}
/* SIGNUP PAGE */
.shop_signup {
  margin-top: 40%;
}
.nachbar_form {
  margin-top: 20%;
}
.shop_name {
  margin-bottom: 1.5rem;
}

.fold {
  display: none;
  height: 0;
  width: 100%;
}

.fold.active {
  display: inline-block;
}
.sm_title {
  border: 0.1em solid black;
  padding: 0.5em;
  background-color: black;
  color: white;
}

/* SECTIONS */

.section1 {
  display: flex;
}

.section2 {
  background-color: var(--accent-light-color);
  color: white;
}

.section2 h2 {
  color: var(--light-color);
  font: 700 6rem/8rem var(--primary-font);
  padding: 1.5rem 0;
  margin-top: 2%;
}
.section2 p {
  color: var(--light-color);
  margin: 0rem 10rem 5rem 10rem;
  font: 400 1.3rem/2rem var(--secondary-font);
  letter-spacing: 0.2px;
  padding: 1rem 0;
  margin: 0;
}
.section2 img {
  height: 50%;
  width: 80%;
  margin-bottom: 100%;
  padding: 0;
  margin: 0;
}
/* .diagonal2 {
    position: absolute;
    color: #f2eeef;
    background-color: #f2eeef;
    background: #f2eeef;
    color: #f2eeef;
    margin-bottom: -18%;
    height: 200px;
    overflow: hidden;
    width: 100%;
    margin-left: -10%;
    transform: rotate(375deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(375deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(375deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(375deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(375deg) scale(1) skew(0deg) translate(0px);
} */

.btn-primary {
  background-color: var(--accent-secondary-color) !important;
  color: var(--dark-color) !important;
  border-color: var(--dark-color) !important;
}
/* .logo_pos {
    background-image: linear-gradient(#f9ce21, #f9ce21);
    background-size: 100% 15px;
    background-repeat: no-repeat;
    background-position: right 0px bottom 18px;
    z-index: -5;
} */

@media only screen and (max-width: 800px) {
  .landing .statement {
    padding: 1rem;
  }

  .landing .statement h2 {
    font: 600 4rem/6rem var(--primary-font);
  }

  .landing .statement p {
    padding: 0.5rem;
    font: 400 1.5rem/2.5rem var(--secondary-font);
  }

  .frontBackground {
    background-size: cover;
    height: 100%;
    z-index: 5;
  }
}
